<section id="updateplayer">

  <a href="/dashboard"> &larr; Back </a>

  <h1> Update Player </h1>

  <div>
    <form action="/updateplayer/<%= player._id %>" enctype="multipart/form-data" method="POST">

      <article>
        <div>
          <label for="playername"> <b> Player Name </b> </label> <br />
          <input type="text" name="playername" value="<%= player.playername %>" placeholder="Player Name ...." />
        </div>

        <div>
          <label for="playerposition"> <b> Player Position </b> </label> <br />
          <input type="text" name="playerposition" value="<%= player.playerposition %>" placeholder="Player Position ...." />
        </div>

        <div>
          <label for="playerphoto"> <b> Choose Player Photo </b> </label>
          <input type="file" name="playerphoto" id="playerphoto" accept="image/*">
          <img src="/images/uploads/players/<%= player.playerphoto %>" alt="<%= player.playername %>" width="275" height="200" />
          <input type="hidden" name="playeroldphoto" id="playeroldphoto" value="<%= player.playerphoto %>">
        </div>
      </article>

      <div> <input type="submit" value="Update Player" class="adminaddbtn" /> </div>

    </form>
  </div>

</section>