<!DOCTYPE html>
<html lang="en-US" style="height: 100%;">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="<%= locals.keywords %>" />
    <meta name="description" content="<%= locals.description %>" />
    <meta name="author" content="<%= locals.author %>" />

    <title> <%= locals.title %> </title>
    
    <link rel="title icon" type="image/png" href="/images/assists/crest.png" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/fontawesome/css/all.css" />

    <script type="text/javascript" defer src="/js/index.js"></script>
    <script defer src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    
    <%- include("../partials/header.ejs") %>
    
    <%- include("../partials/nav.ejs") %>
    
    <main> <%- body %> </main>
    
    <%- include("../partials/footer.ejs") %>
  
  </body>
</html>