<section id="watch">
  
  <article>
    
    <% if(videos != "") { %>
      <% videos.forEach( function(video, index) { %>
      
        <div class="watchvideo">

          <div>
            <video controls>
              <source src="videos/uploads/<%= video.teamvideo %>" type="video/mp4">
              <source src="videos/uploads/<%= video.teamvideo %>" type="video/webm">
              <source src="videos/uploads/<%= video.teamvideo %>" type="video/ogg">
              Sorry! Your browser does not support the video.
            </video>
          </div>
      
          <div> <%= video.teamvideotitle %> </div>
      
        </div>
    
      <% }) %>
    <% } else { %>
        <p> No Videos! </p>
    <% } %>

  </article>

</section> <!--! watch end  -->

<section id="photos">
    <article class="maktownflyersphotos">
        <!-- //TODO add an X to close the lightbox-->
        <div class="mediaimg"> <figure> <img src="./images/assists/mfi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfiii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfiv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfvi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfvii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfviii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfix.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfx.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>

        <div class="mediaimg"> <figure> <img src="./images/assists/mfxi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxiii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxiv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxvi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxvii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxix.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxx.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>

        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxiii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxiv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxvi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxvii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxviii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxix.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxx.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>

        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxiii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxiv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxvi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxvii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxviii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxix.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxx.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>

        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxxi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxxii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxxiii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxxiv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxxv.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxxvi.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
        <div class="mediaimg"> <figure> <img src="./images/assists/mfxxxxvii.jpeg" alt="MAKTOWN Flyers Photo" width="320" height="299" /> </figure> </div>
    </article>
</section> <!--! photos end  -->

<section id="teampost">
  <h2> News </h2>

  <article>
    
    <% if(teamposts != "") { %>
      <% teamposts.forEach(function(teampost, index){ %>
      
        <div class="teampost">
          
          <div class="teampostphoto">
            <figure>
              <img src="images/uploads/teamposts/<%= teampost.teampostphoto %>" alt="<%= teampost.teampostheading %>" width="225" height="200" />
              <figcaption> <a href="/teampost/<%= teampost._id %>"> <%= teampost.teampostheading.substring(0, 20) %>... </a> </figcaption>
            </figure>
          </div>
      
        </div>
    
      <% }) %>
    <% } else { %>
      <p> No news found </p>
    <% } %>
  
  </article>

</section> <!--! teampost end  -->